@import url("main.css");

nav {
    background-image: url("https://wallpapercave.com/wp/wp3503092.jpg");
    height: 2rem;
    padding: 1rem;
    position: relative;
}
  
  nav * * {
    margin: 0.5rem;
  }
  
  nav .nav-right {
    text-align: right;
    position: absolute;
    right: 1rem;
  }
  
  nav .nav-left {
    text-align: left;
    position: absolute;
    left: 1rem;
  }
  
  nav a {
    color:azure;
    text-decoration: none;
  }
  
  nav a:hover {
    color: rgb(60, 255, 0);
    text-decoration: overline;
  }