 #navbar {
  overflow: hidden;
  font-size: 1.85rem;
  position: relative;
  background-image: url("https://wallpapercave.com/wp/wp3503092.jpg");
  text-align: left;
  height: 2rem;
  padding: 1rem;
  width: 100%;
  border-radius: 5px;
}

#navbar a {
  float: right;
  display: block;
  color: antiquewhite;
  text-decoration: none;
  font-size: 1.85rem;
  text-align: center;
}

#navbar a:hover {
  color: rgb(60, 255, 0);
  text-decoration: overline;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


.sticky + .content {
  padding-top: 60px;
}